.services{
  position: relative;
  padding-bottom: 50px;
  margin-bottom: 80px;
  .bgc_text{
    right: -4%;
  }
  .section_title{
    padding-bottom: 0;
    &:after{
      display: none;
    }
  }

}

.services_row{
  margin-left: 60px;
  display: flex;
  margin-top: 38px;
}

.services_content{
  margin-right: 60px;
  margin-left: 66px;
}

.services_content_text{
  width: 400px;
  font-size: 14px;
  line-height: 165%;
  color: #2A2A2A;
  font-family: 'SpaceGrotesk-Regular';
  padding-top: 35px;
  margin-top: 0;
  position: relative;
  &:before{
    content: '';
    display: block;
    width: 100px;
    position: absolute;
    height: 1px;
    background-color: $blueDark;
    top: 0;
    left: 0;
  }
}

.services_list{
  display: flex;
  margin-top: 92px;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  &:before{
    content: "";
    position: absolute;
    background-color: $blue;
    top: -60px;
    bottom: -50px;
    left: -130px;
    right: -100%;
  }
}

.services_item{
  width: 264px;
  &:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(3){
    margin-bottom: 68px;
  }
}

.services_item_title{
  display: flex;
  color: $white;
  position: relative;
  h4{
    margin: 0 0 0 15px;
    font-size: 22px;
    font-family: 'GTWalsheimPro-Medium';
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.2;
    letter-spacing: 1.2px;
  }
  span{
    font-size: 57px;
    line-height: 95%;
    font-family: 'GTWalsheimPro-Regular';
  }
}

.services_item_text{
  font-family: "SpaceGrotesk-Regular";
  font-size: 14px;
  color: $white;
  margin-bottom: 0;
  margin-top: 10px;
  line-height: 1.6;
  position: relative;
}

.services_pic{
  position: relative;
  z-index: 1;
}

@media #{$mediaExtraSmall}{
  .services_pic{
    display: none;
  }
  .services_row{
    margin-left: 0;
    margin-top: 40px;
  }
  .services_content_text{
    width: 100%;
    padding-left: 60px;
    font-size: 12px;
    padding-top: 0;
  }
  .services_content{
    margin: 0;
  }
  .services_content_text::before{
    width: 39px;
    top: 8px;
  }
  .services_item{
    width: 41%;
  }
  .services::before{
    width: 100vw;
    height: 67%;
  }
  .services_item, .services_item:nth-of-type(1), .services_item:nth-of-type(2), .services_item:nth-of-type(3){
    margin-bottom: 30px;
  }
  .services_item_title span{
    font-size: 32px;
  }
  .services_item_title h4{
    font-size: 12px;
    margin-left: 10px;
  }
  .services_item_title p{
    font-size: 10px;
  }
  .services{
    padding-bottom: 0;
  }
}