.services
    .container
        span.bgc_text services
        h2.section_title.blue Services our <br> company
        .services_row
            .services_pic
                img(src="./img/services.jpg")
            .services_content
                p.services_content_text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                .services_list
                    .services_item
                        .services_item_title
                            span M
                            h4 mobile <br> Solutions
                        p.services_item_text Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    .services_item
                        .services_item_title
                            span W
                            h4 Web <br> Development
                        p.services_item_text Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    .services_item
                        .services_item_title
                            span W
                            h4 Website <br> design
                        p.services_item_text Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    .services_item
                        .services_item_title
                            span H
                            h4 HTML5 AND <br> CSS3
                        p.services_item_text Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    .services_item
                        .services_item_title
                            span E
                            h4 E-commerce <br> solutions
                        p.services_item_text Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    .services_item
                        .services_item_title
                            span C
                            h4 CROSS-BROWSER <br> SUPPORT
                        p.services_item_text Lorem Ipsum is simply dummy text of the printing and typesetting industry.