.portfolio
    .container
        span.bgc_text Our portfolio
        h2.section_title.blue Our portfolio
        .portfolio_list
            .portfolio_item.portfolio_item_small
                img.portfolio_item_pic(src="./img/first.jpg")
                span.portfolio_item_category DESIGN
                a.portfolio_item_link(href='') Website for creative company
            .portfolio_item.portfolio_item_big
                img.portfolio_item_pic(src="./img/second.jpg")
                span.portfolio_item_category WEB DEVELOPMENT
                a.portfolio_item_link(href='') Website for furniture stor
            .portfolio_item.portfolio_item_small
                img.portfolio_item_pic(src="./img/three.jpg")
                span.portfolio_item_category DESIGN
                a.portfolio_item_link(href='') Website for creativel company

            .portfolio_item.portfolio_item_big
                img.portfolio_item_pic(src="./img/four.jpg")
                span.portfolio_item_category DESIGN
                a.portfolio_item_link(href='') Website for creativel company
            .portfolio_item.portfolio_item_small
                img.portfolio_item_pic(src="./img/five.jpg")
                span.portfolio_item_category WEB DEVELOPMENT
                a.portfolio_item_link(href='') Website for web studio
            .portfolio_item.portfolio_item_big
                img.portfolio_item_pic(src="./img/six.jpg")
                span.portfolio_item_category DESIGN
                a.portfolio_item_link(href='') Website for a restaurant
