.portfolio{
  .bgc_text{
    right: -24%;
  }
}
.portfolio_list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 70px 60px 30px;
}
.portfolio_item:nth-of-type(4n+6), .portfolio_item:nth-of-type(6n+6), .portfolio_item:nth-of-type(4){
  margin-top: -242px;
}
.portfolio_item{
  display: flex;
  width: 396px;
  flex-direction: column;
  margin-bottom: 60px;
  align-items: flex-start;
}
.portfolio_item_pic{
  width: 100%;
}
.portfolio_item_category{
  color: #5D5D5D;
  font-size: 12px;
  font-family: "SpaceGrotesk-Regular";
  padding: 16px 0 12px;
  letter-spacing: 0.05em;
}
.portfolio_item_link{
  font-family: "SpaceGrotesk-Medium";
  color: $blueDark;
  font-size: 14px;
  line-height: 13px;
  padding-bottom: 5px;
  text-decoration: none;
  border-bottom: 1px solid $blueDark;
}

@media #{$mediaExtraSmall}{
  .portfolio_list{
    margin: 70px 0px 30px;
    width: 100%;
    align-items: flex-start;
  }
  .portfolio_item{
    max-width: 158px;
    width: 45%;
    position: relative;
    margin-top: 0!important;
    margin-bottom: 20px;
    overflow: hidden;
    align-items: center;
  }
  .portfolio_item:nth-of-type(1){
    float: left;
  }
  .portfolio_item:nth-of-type(2){
    float: right;
  }
  .portfolio_item:nth-of-type(3){
    float: left;
  }
  .portfolio_item:nth-of-type(4){
    float: left;
  }
  .portfolio_item:nth-of-type(5){
    float: right;
  }
  .portfolio_item:nth-of-type(6){
    float: right;
    width: 45%;
    height: 95px;
  }
  .portfolio_item:nth-of-type(6) img{
    width: 100%;
    height: auto;
  }
  .portfolio_list{
    display: table;
    margin-top: 30px;
  }
  .portfolio_list:before{
    clear: both;
    content: '';
  }
  .portfolio_item_link{
    font-size: 8px;
    position: absolute;
    bottom: 2px;
    display: block;
    width: 97%;
    color: #2A2A2A;
    padding-left: 4px;
    background-color: rgba(255,255,255,.6);
    line-height: 16px;
    padding-bottom: 0;
    border-bottom: none;
  }
  .portfolio_item_category{
    display: none;
  }
  .portfolio_item_small{

  }
  .portfolio_item_big{
    height: 213px;
  }
  .portfolio_item_big img{
    position: absolute;
    top: 0;
    height: 100%;
    width: auto;
  }
  .portfolio .section_title::after{
    display: none;
  }
}