.aside_list
    .aside_item
        span.article_category marketing
        .aside_item_block
            img(src="./img/item1.jpg").aside_item_pic
            .aside_item_content
                h3.article_title Lorem Ipsum is simply dummy text
                p.article_text Is simply dummy text of the printing and typesetting industry...
    .aside_item
        span.article_category marketing
        .aside_item_block
            img(src="./img/item1.jpg").aside_item_pic
            .aside_item_content
                h3.article_title Lorem Ipsum is simply dummy text
                p.article_text Is simply dummy text of the printing and typesetting industry...
    .aside_item
        span.article_category marketing
        .aside_item_block
            img(src="./img/item1.jpg").aside_item_pic
            .aside_item_content
                h3.article_title Lorem Ipsum is simply dummy text
                p.article_text Is simply dummy text of the printing and typesetting industry...
.search
    input(type="text", placeholder="search").search_input
    button(type="submit").search_btn
        i.icon-search
.aside_links
    .aside_links_title recent posts
    ul.aside_links_list
        li.aside_links_item
            a Themplate Millennium
                i.icon-chevrons-right
        li.aside_links_item
            a Blog Headline
                i.icon-chevrons-right
        li.aside_links_item
            a Web Development
                i.icon-chevrons-right
        li.aside_links_item
            a New post
                i.icon-chevrons-right
        li.aside_links_item
            a Events
                i.icon-chevrons-right
        li.aside_links_item
            a Markering
                i.icon-chevrons-right
.aside_links
    .aside_links_title archives
    ul.aside_links_list
        li.aside_links_item
            a august 2019
                i.icon-chevrons-right
        li.aside_links_item
            a may 2018
                i.icon-chevrons-right
.aside_links
    .aside_links_title categories
    ul.aside_links_list
        li.aside_links_item
            a uncategorized
                i.icon-chevrons-right
        li.aside_links_item
            a all
                i.icon-chevrons-right
