.topic
    .container
        .topic_text
            h1.topic_title
                span.split.split_left web
                    p For us, every project is the realization of our capabilities and proof that you can make a
                        | breakthrough in business in the shortest possible time
                span.split.split_left agency



            a.topic_link.wow.fadeInUp(data-wow-delay="1.5s") learn more
                i.icon-chevrons-right
        .topic_pic.wow.fadeInUpBig(data-wow-delay="1.2s")
            img.topic_image(src="./img/topic.jpg")


