.topic{
  min-height: 100vh;
  padding-top: 170px;
  position: relative;
  &:before{
    content: '';
    position: absolute;
    left: -100%;
    right: -100%;
    top: 0;
    height: 75%;
    //background-image: linear-gradient(to bottom, $blue 900px, white calc(100% - 900px));
    background-color: $blue;
  }
  .container{
    padding: 0 125px;
  }
}

.topic_text{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.topic_title{
  color: $white;
  font-family: "GTWalsheimPro-Regular";
  font-size: 200px;
  margin: 0;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  width: 991px;
  font-weight: 500;
  letter-spacing: 0.05em;
  flex-wrap: wrap;
  line-height: 1.05;
  p{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 100%;
    margin-left: 10px;
    display: inline-block;
    font-size: 12px;
    text-transform: none;
    letter-spacing: normal;
    line-height: 165%;
    width: 175px;
    font-family: "SpaceGrotesk-Regular";
    transition: .3s;
  }

  .split p{
    left: 200%;
    opacity: 0;
    transition: 1.0s;
  }
  .split.active p{
    left: 100%;
    opacity: 1;
  }
}
.topic_link{
  font-family: "SpaceGrotesk-Regular";
  font-size: 14px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  line-height: 165%;
  text-transform: uppercase;
  cursor: pointer;
  i{
    display: inline-block;
    margin-left: 5px;
    font-size: 10px;
    transition: .3s;
  }
  &:hover i{
    transform: translateX(3px)
  }
}
.topic_image{
  margin-top: 47px;
}

@media #{$mediaExtraSmall}{
  .topic .container {
    padding: 0 20px;
  }
  .topic_title p{
    //max-width: 130px;
    font-size: 8px;
    //width: 43%;
    margin-left: 6px;
  }

  .topic_title{
    width: 100%;
    font-size: 66px;
  }
  .topic_text{
    flex-direction: column;
  }
  .topic{
    min-height: 100%;
    padding-top: 115px;
    background-image: linear-gradient(to bottom, #3476AA 80%, white 0%);
  }
  .topic_pic{
    width: 100%;
  }
  .topic_image{
    width: 100%;
    margin-top: 10px;
  }
  .topic_link{
    margin-top: 40px;
  }
}