/* Styles Header */
@import "../../../sass/vars";
@import "../../../sass/mixins";

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 7;
  display: flex;
  align-items: center;
  height: 60px;
  padding: 0 52px;
  margin-top: 25px;
  @media #{$mediaExtraSmall}{
    padding: 0 20px;
  }
}

.logo {
  font-family: "BigJohn";
  color: $white;
  font-size: 24px;
  text-decoration: none;
  text-transform: uppercase;
}

.humburger {
  margin-left: auto;
  cursor: pointer;
  width: 54px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 52px;
  z-index: 7;
  @media #{$mediaExtraSmall}{
    right: 5px;
  }
  span {
    height: 2px;
    display: block;
    background-color: $white;
    width: 24px;
    transition: .3s;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    &:nth-child(1) {
      top: calc(50% - 6px);
      transform: translateY(-50%);
    }
    &:nth-child(2) {
      top: 50%;
      transform: translateY(-50%);
    }
    &:nth-child(3) {
      top: calc(50% + 6px);
      transform: translate(4px, 10%);
      width: 16px;
    }
  }
  &:hover span {
    &:nth-child(3) {
      top: calc(50% + 6px);
      transform: translate(0px, 10%);
      width: 24px;
    }
  }
  &.active {
    position: fixed;
    top: 56px;
    span:nth-child(1),
    span:nth-child(2) {
      transform: rotate(-45deg);
      top: 50%;
    }
    span:nth-child(3) {
      transform: rotate(45deg);
      width: 24px;
      top: 50%;
    }

  }

}

//.language{
//  display: flex;
//  flex-direction: column;
//}
//.language_item{
//  margin-bottom: 20px;
//  font-family: "SpaceGrotesk-Medium";
//  font-size: 14px;
//  line-height: 13px;
//  letter-spacing: 0.05em;
//  text-transform: uppercase;
//  color: #FFFFFF;
//}

.last-article .language_item {
  color: #2A2A2A;
}

.last-article .humburger span {
  background-color: #2A2A2A;
}

.single-page .logo {
  color: #2A2A2A;
}

.single-page .language_item {
  color: #2A2A2A;
}

.single-page .humburger span {
  background-color: #2A2A2A;
}

@media #{$mediaExtraSmall}{
  .language {
    display: none;
  }
  .humburger {
    margin-top: 0;
  }
  header {
    .container {
      padding: 25px 20px;
    }
  }
}

.menu {
  display: flex;
  position: fixed;
  z-index: 5;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: $blue;
  justify-content: center;
  align-items: center;
  transition: .6s;
  @media #{$mediaExtraSmall}{
    align-items: flex-start;
    padding-top: 50px;
  }
  &.active {
    top: 0;
  }
  &_icon {
    transform: rotate(-90deg);
    position: absolute;
    top: 0;
    left: calc(100% + 10px);
    padding: 2px;
    color: $white;
    cursor: pointer;
    transition: .3s;
    &.active {
      transform: rotate(90deg);
    }
  }
  &_title {
    color: $white;
    font-size: 300px;
    opacity: 0.8;
    font-family: "GTWalsheimPro-Medium";
    letter-spacing: 0.05em;
    font-weight: 700;
    text-transform: uppercase;
    margin-right: 60px;
    @media #{$mediaExtraSmall}{
      display: none;
    }
  }
  &_wrap {
    max-height: 100vh;
    overflow-x: auto;
    @media #{$mediaExtraSmall}{
      padding: 0 80px;
    }
  }
  &_list {
    margin: 0;
    list-style: none;
    padding: 40px;
  }
  &_item {
    margin-bottom: 30px;
    display: flex;
    position: relative;
    flex-direction: column;
  }
  &_number {
    opacity: 0.5;
    color: white;
    font-family: "GTWalsheimPro-Medium";
    font-weight: bold;
    font-size: 16px;
    line-height: 17px;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    position: absolute;
    top: 2px;
    left: -40px;
  }
  &_link {
    font-family: "SpaceGrotesk-Medium";
    font-weight: bold;
    font-size: 22px;
    line-height: 20px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 1;
    text-transform: uppercase;
    text-decoration: none;
  }

  &_submenu {
    padding: 0;
    //margin: 20px 0 0 90px;
    margin-top: 20px;
    display: none;
  }

  &_submenu_li {
    list-style: none;
    padding-bottom: 6px;
    margin-bottom: 12px;
  }

  &_submenu_link {
    font-family: "SpaceGrotesk-Regular";
    font-size: 14px;
    line-height: 165%;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    text-decoration: none;
    opacity: 0.5;
    text-transform: uppercase;
  }
}

