doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title Creative Minimalistic HTML5 Template
        meta(name='”description”', content='””')
        meta(name='”keywords”', content='””')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        link(rel='stylesheet', href='css/main.min.css')


    body

        main.error
            section.error_container
                p.error_number
                    span.black_number 4
                    span.zero 0
                    span.blue_number 4
                p.error_content This page does not exist, but you can go to back.
                a.link_back go to back
                    i.icon-chevrons-right