doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title Creative Minimalistic HTML5 Template
        meta(name='”description”', content='””')
        meta(name='”keywords”', content='””')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        link(rel='stylesheet', href='css/main.min.css')


    body
        include ../layouts/header/index

        main
            section.aboutUs_main
                .container
                    img.aboutUs_main_pic(src='/img/about.jpg')
                    .aboutUs_content
                        h2.section_title.blue History of <br> the company

                        .aboutUs_content_text
                            p Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it <span>over 2000 years old</span>. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
                            p The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
                            p The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
                        .aboutUs_video_container
                            img(src="./img/watchVideo.jpg")
                            button.aboutUs_video_on watch the video
                        .aboutUs_contact_link
                            span.aboutUs_contact_link_title Can we start the project right now? Contact us.
                            button.aboutUs_contact_link_btn contact us
                                i
                    .aboutUs_bottom
                            .quotes
                                i.icon-left-quote
                                p.quotes_text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
                                span.quotes_name Robi Braun
                                span.quotes_job Company Director
                            .aboutUs_bottom_pic
                                img(src="./img/aboutBottom.jpg")