doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title Creative Minimalistic HTML5 Template
        meta(name='”description”', content='””')
        meta(name='”keywords”', content='””')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        link(rel='stylesheet', href='css/main.min.css')


    body.last-article
        include ../layouts/header/index

        main
            section.last_article
                .container
                    .last_article_pic
                        img(src="./img/blog.jpg")
                    .last_article_content
                        span.article_category Events
                        h2.article_title How to relax
                        p.article_text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book...
                        .article_info
                            .article_date
                                i.icon-clock
                                span 1 JUNE 2019
                            .article_watch
                                i.icon-eye
                                span 343
                            button.article_btn Learn more
                                i.icon-chevrons-right

            section.articles
                .container
                    .articles_content
                        .artiles_category
                            span.artiles_category_item.active All
                            span.artiles_category_item WEB DEVELOPMENT
                            span.artiles_category_item Events
                            span.artiles_category_item DESIGN
                            span.artiles_category_item marketing
                        .articles_list
                            .articles_list_item.small
                                span.article_category Events
                                img(src="./img/blog.jpg")
                                .article_content
                                    h3.article_title Lorem Ipsum
                                    p.article_text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's...
                                        .article_info
                                            .article_date
                                                i.icon-clock
                                                span 1 JUNE 2019
                                            .article_watch
                                                i.icon-eye
                                                span 343
                                            button.article_btn Learn more
                                                i.icon-chevrons-right
                            .articles_list_item.small
                                span.article_category Events
                                img(src="./img/blog.jpg")
                                .article_content
                                    h3.article_title Lorem Ipsum
                                    p.article_text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's...
                                        .article_info
                                            .article_date
                                                i.icon-clock
                                                span 1 JUNE 2019
                                            .article_watch
                                                i.icon-eye
                                                span 343
                                            button.article_btn Learn more
                                                i.icon-chevrons-right
                            .articles_list_item.big
                                span.article_category Events
                                img(src="./img/blog.jpg")
                                .article_content
                                    h3.article_title Lorem Ipsum
                                    p.article_text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's...
                                        .article_info
                                            .article_date
                                                i.icon-clock
                                                span 1 JUNE 2019
                                            .article_watch
                                                i.icon-eye
                                                span 343
                                            button.article_btn Learn more
                                                i.icon-chevrons-right


                            .articles_list_item.small
                                span.article_category Events
                                img(src="./img/blog.jpg")
                                .article_content
                                    h3.article_title Lorem Ipsum
                                    p.article_text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's...
                                        .article_info
                                            .article_date
                                                i.icon-clock
                                                span 1 JUNE 2019
                                            .article_watch
                                                i.icon-eye
                                                span 343
                                            button.article_btn Learn more
                                                i.icon-chevrons-right
                            .articles_list_item.small
                                span.article_category Events
                                img(src="./img/blog.jpg")
                                .article_content
                                    h3.article_title Lorem Ipsum
                                    p.article_text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's...
                                        .article_info
                                            .article_date
                                                i.icon-clock
                                                span 1 JUNE 2019
                                            .article_watch
                                                i.icon-eye
                                                span 343
                                            button.article_btn Learn more
                                                i.icon-chevrons-right
                        .articles_pagination
                            button.articles_pagination_prev
                                i.icon-chevrons-left
                            .articles_pagination_number
                                span 1
                                span 2
                                span 3
                                span 4
                                span 5
                            button.articles_pagination_next
                                i.icon-chevrons-right
                    aside.aside
                        include ../layouts/aside/index
