doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title Creative Minimalistic HTML5 Template
        meta(name='”description”', content='””')
        meta(name='”keywords”', content='””')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        link(rel='stylesheet', href='css/main.min.css')


    body
        include ../layouts/header/index

        main
            section.section
                include ../components/topic/index
            section.section
                include ../components/about/index
            section.section
                include ../components/services/index
            section.section
                include ../components/portfolio/index
            section.section
                include ../components/team/index
            section.section
                include ../components/feedback/index
            section.section
                include ../components/contact/index

        include ../layouts/footer/index

        script(src='js/scripts.min.js')