doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title Creative Minimalistic HTML5 Template
        meta(name='”description”', content='””')
        meta(name='”keywords”', content='””')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        link(rel='stylesheet', href='css/main.min.css')


    body.single-page
        include ../layouts/header/index

        main
            section.portfolio_page
                .container.portfolio_container
                    .slider_nav
                        .slider_nav_item
                            img.slider_nav_pic(src="./img/slider_nav.jpg")
                        .slider_nav_item
                            img.slider_nav_pic(src="./img/slider_nav.jpg")
                        .slider_nav_item.active
                            img.slider_nav_pic(src="./img/slider_nav.jpg")
                        .slider_nav_item
                            img.slider_nav_pic(src="./img/slider_nav.jpg")
                        .slider_nav_item
                            img.slider_nav_pic(src="./img/slider_nav.jpg")
                    .slider_list
                        .slider_item
                            .slider_item_info
                                .slider_category.article_category DESIGN
                                .slider_title.article_title Website for furniture stor
                                .slider_text.article_text Is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                            .slider_item_right
                                img(src="./img/slider_pic.jpg")
                                a.slider_item_link http/urniture stor.com.ua
                            .slider_item_list
                                .slider_item_list_item
                                    .slider_item_list_title client
                                    .slider_item_list_text BC Corporation
                                span |
                                .slider_item_list_item
                                    .slider_item_list_title client
                                    .slider_item_list_text BC Corporation
                                span |
                                .slider_item_list_item
                                    .slider_item_list_title client
                                    .slider_item_list_text BC Corporation




