doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title Creative Minimalistic HTML5 Template
        meta(name='”description”', content='””')
        meta(name='”keywords”', content='””')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        link(rel='stylesheet', href='css/main.min.css')


    body.single-page
        include ../layouts/header/index

        main
            section.single
                .container
                    .single_block
                        span.article_category Events
                        h2.single_title Rules: how to relax
                        .single_pic
                            img(src="./img/blog.jpg")
                            span.single_pic_title Friedrich Rückert
                        p.single_text Why relax? Or a short introduction for workaholics. How much you can do in time, if you learn to keep your mind and body in constant activity!
                        p.single_text Therefore, rest is a necessary component of life, which should alternately replace other activities (work, study). But at the same time, you can relax in different ways: some prefer to watch TV or “surf” on the Internet, others brew tea, they take to read an interesting book, others go to a nightclub, others go to the gym or play football with friends. It all depends on the personal preferences of the person. But how applicable is the word "rest" in relation to each of the above actions? Is the person effectively resting in such a case? Let's deal with what should be the rest, so that our body regained strength, and not lose them even more.
                        .quotes
                            i.icon-left-quote
                            p.quotes_text Labor must conform to rest; stupid is the one who turns rest into occupation.
                            span.quotes_job Friedrich Rückert
                        h3.single_pretitle Rest is a change of activity
                        p.single_text This statement is heard all the time. And most often ignored. It is only with a stretch that you can call leisure spending time in social networks for a person who is already focused on a computer monitor and a phone display all day. Therefore, the first and most important requirement is the diversity of pastime and dilution of the usual routine. This condition of the rest process should be understood literally - if you spend most of your working day sitting at the computer, the best rest for you will be a walk in the park, playing sports, whatever, if only you are not the same as you do a third of your of the day
                        h3.single_pretitle Do not ignore the rest
                        p.single_text Many of us often say to themselves something like “I will sleep on the weekends” or “rest after the delivery of the project”. Situations are different. And sometimes you have to sacrifice rest in favor of career growth and material well-being. In this regard, each person is a blacksmith of his own happiness. But it is important to bear in mind that in the matter of recreation, as with health, it is easier, more productive and “cheaper” to prevent overstrain than to neutralize it. Therefore, remember that workaholism is good only in moderation and do not exhaust yourself to the limit. You have the right to proper rest.
                        .article_info.single
                            .article_date
                                i.icon-clock
                                span 1 JUNE 2019
                            .article_watch
                                i.icon-eye
                                span 343
                            .author_name by marly bors

                    aside.aside
                        include ../layouts/aside/index

            section.single_bottom
                .container
                    h2.single_bottom_title More Topics
                    .topic_list
                        .topic_item
                            img.topic_item_pic(src="./img/topicMore.jpg")
                            a.topic_item_link Lorem Ipsum is simply dummy text
                        .topic_item
                            img.topic_item_pic(src="./img/topicMore.jpg")
                            a.topic_item_link Lorem Ipsum is simply dummy text
                        .topic_item
                            img.topic_item_pic(src="./img/topicMore.jpg")
                            a.topic_item_link Lorem Ipsum is simply dummy text
                        .topic_item
                            img.topic_item_pic(src="./img/topicMore.jpg")
                            a.topic_item_link Lorem Ipsum is simply dummy text
                        .topic_item
                            img.topic_item_pic(src="./img/topicMore.jpg")
                            a.topic_item_link Lorem Ipsum is simply dummy text