.team
    .container
        span.bgc_text Our Team
        h2.white.section_title Our team
        p.team_text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.
        .team_list
            .team_item
                img.team_item_pic(src="./img/Robi.jpg")
                span.team_item_name Robi Braun
                span.team_item_position Creative Director
            .team_item
                img.team_item_pic(src="./img/Mia.jpg")
                span.team_item_name Mia Curtir
                span.team_item_position Software Developer
            .team_item
                img.team_item_pic(src="./img/Harry.jpg")
                span.team_item_name Harry Bront
                span.team_item_position Chief Technology Officer
            .team_item
                img.team_item_pic(src="./img/Jessica.jpg")
                span.team_item_name Jessica Vurs
                span.team_item_position Project Manager
            .team_item
                img.team_item_pic(src="./img/Thomas.jpg")
                span.team_item_name Thomas Frait
                span.team_item_position Technical Support
            .team_item
                img.team_item_pic(src="./img/Amelia.jpg")
                span.team_item_name Amelia Braun
                span.team_item_position Team Leader
        .team_scroll
            span.team_scroll_text scroll
            span.team_scroll_line