.team{
  position: relative;
  padding-top: 37px;
  .bgc_text{
    right: -10%;
  }

  &:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: $blue;
    height: 295px;
    width: calc((100vw - 1440px)/2 + 918px);
  }
  &:after{
    background-color: $blue;
    content: '';
    bottom: 0;
    right: 0;
    position: absolute;
    height: 290px;
    z-index: -1;
    width: calc((100vw - 1440px)/2 + 646px);
  }
  .section_title{
    margin-top: 0px;
  }

  &_scroll {
    position: absolute;
    bottom: 50px;
    left: 50px;
    height: 590px;
    display: flex;
    width: 20px;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    &_line {
      height: calc(100% - 115px);
      opacity: 0.2;
      width: 1px;
      background-color: #484848;
      display: block;
    }
    &_text {
      transform: rotate(-90deg);
      margin-bottom: 55px;
      font-family: 'SpaceGrotesk-Regular';
      font-size: 14px;
      color: #7e7e7e;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      margin-top: 2px;
      padding-top: 2px;
    }
  }
}

.team_text{
  width: 330px;
  color: $white;
  font-size: 14px;
  line-height: 165%;
  font-family: "SpaceGrotesk-Regular";
  text-transform: capitalize;
  margin-left: 60px;
  margin-top: 45px;
}

.team_list{
  display: flex;
  flex-wrap: wrap;
  position: relative;
  left: 324px;
  margin-top: -70px;
}

.team_item{
  margin-right: 65px;
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
  &:nth-of-type(1){
    margin-left: 132px;
  }
}

.team_item_name{
  color: $blueDark;
  font-size: 14px;
  font-family: "SpaceGrotesk-Regular";
  padding: 22px 0 5px;
}

.team_item_position{
  color: #5D5D5D;
  font-family: "SpaceGrotesk-Regular";
  font-size: 12px;

}

.team_item:last-of-type{
  .team_item_position{
    color: $white;
  }
  .team_item_name{
    color: $white;
  }
}

@media #{$mediaExtraSmall}{
  .team .container::before{
    display: none;
  }
  .team .container::after{
    display: none;
  }
  .team_item{
    width: 30%;
    margin-right: 0;
    margin-left: 0!important;
  }
  .team_item_pic{
    width: 100%;
  }
  .team_list{
    left: 0;
    margin-top: 45px;
    justify-content: space-between;
  }
  .team::after{
    bottom: 150px;
    width: 100vw;
  }
  .team::before{
    display: none;
  }
  .team_item:nth-of-type(1) .team_item_name, .team_item:nth-of-type(2) .team_item_name, .team_item:nth-of-type(3) .team_item_name,.team_item:nth-of-type(1) .team_item_position, .team_item:nth-of-type(2) .team_item_position, .team_item:nth-of-type(3) .team_item_position {
    color: #fff;
  }
  .team_item:last-of-type .team_item_position{
    color: #5D5D5D;
  }
  .team_item:last-of-type .team_item_name{
    color: $blueDark;
  }
  .section_title.white{
    color: $blueDark;
  }
  .team_text{
    color: #2A2A2A;
    width: auto;
    margin-top: 20px;
  }
  .section_title.white::after{
    background-color: $blueDark;
    bottom: -32px;
  }
}