.contact{
  padding-bottom: 80px;
  .bgc_text{
    right: -49%;
  }
  .section_title{
    margin-top: 70px;
  }
}

.contact_content{
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  margin-left: 60px;
  align-items: flex-end;
}

.contact_form{
  display: flex;
  width: 526px;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
}

.contact_input{
  border: none;
  outline: none;
  width: 100%;
  border-bottom: 1px solid $blue;
  margin-bottom: 40px;
  font-size: 14px;
  padding: 7px 0;
  color: #5D5D5D;
  font-family: 'SpaceGrotesk-Regular';
}

.contact_btn{
  margin-top: 60px;
  text-transform: uppercase;
  color: $blueDark;
  font-size: 16px;
  border: none;
  font-family: 'SpaceGrotesk-Regular';
  background-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  i{
    margin-left: 15px;
    color: $blueDark;
    font-size: 10px;
    display: block;
    transition: .3s;
    margin-top: -2px;
  }
  &:hover i{
    transform: translateX(3px);
  }
}

@media #{$mediaExtraSmall}{
  .contact_content_pic{
    display: none;
  }
  .contact_content{
    margin: 40px 0 0 ;
  }
  .contact .section_title{
    margin-left: 0;
  }
}