.contact
    .container
        span.bgc_text Let`s work together
        h2.section_title.blue Let `  s work together
        .contact_content
            form.contact_form
                input.contact_input(type="text", placeholder='First name*', required)
                input.contact_input(type="text", placeholder='Your phone*', required)
                input.contact_input(type="text", placeholder='Your email*', required)
                input.contact_input(type="text", placeholder='Massage*', required)
                button.contact_btn(type="submit") Send message
                    i.icon-chevrons-right
            .contact_content_pic
                img(src='./img/contact.jpg')
