.aside_item{
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  width: 100%;
  .article_category {
    color: #9FA3A7;
    margin-bottom: 10px;
  }
}
.aside_item_block{
  display: flex;

  .aside_item_pic{
    width: 132px;
    margin-right: 28px;
  }
}

.aside_item_content{
  width: 168px;
  .article_title{
    margin: 0 0 17px;
    font-size: 18px;
  }
  .article_text{
    margin: 0;
    font-size: 12px;
  }
}

.search{
  position: relative;
}

.search_input{
  width: 100%;
  text-align: right;
  color: $blueDark;
  font-size: 12px;
  font-family: "SpaceGrotesk-Regular";
  text-transform: uppercase;
  padding: 11px 42px;
  border: none;
  border-bottom: 2px solid #CCCCCC;
}

.search_btn{
  position: absolute;
  right: 0;
  top: 6px;
  width: 16px;
  height: 16px;
  padding: 0;
  border: none;
  color: #DADADA;
  background-color: white;
  font-size: 14px;
}

.aside_links{
  position: relative;
  border: 2px solid #CCCCCC;
  padding: 37px 30px 30px;
  margin-top: 69px;
}

.aside_links_title{
  position: absolute;
  left: -30px;
  padding: 30px;
  top: -41px;
  background-color: $white;
  font-family: "GTWalsheimPro-Medium";
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $blueDark;
  text-transform: uppercase;
}

.aside_links_list{
  margin: 0;
  padding: 0;
  list-style: none;
}

.aside_links_item{
  margin-bottom: 15px;
  a{
    font-size: 12px;
    line-height: 165%;
    font-family: "SpaceGrotesk-Regular";
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: $blueDark;
    i{
      font-size: 12px;
      margin-left: 10px;
    }
  }
}
.aside_links_item:last-of-type{
  margin-bottom: 0;
}