.about {
  position: relative;
  padding-bottom: 65px;
  padding-top: 77px;

  .section_title {
    position: absolute;
    top: -25px;
    margin-top: 15px;
  }

  &_scroll {
    position: absolute;
    bottom: 50px;
    left: 50px;
    height: calc(100% + 50px);
    display: flex;
    width: 20px;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    &_line {
      height: calc(100% - 115px);
      opacity: 0.2;
      width: 1px;
      background-color: #fff;
      display: block;
    }
    &_text {
      transform: rotate(-90deg);
      margin-bottom: 55px;
      font-family: 'SpaceGrotesk-Regular';
      font-size: 14px;
      color: #7e7e7e;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      margin-top: 2px;
      padding-top: 2px;
    }
  }
}

.about_row {
  padding-left: 125px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  &--blue {
    padding: 130px 125px 65px;
    margin-top: -65px;
    z-index: 0;
    &:before {
      content: '';
      background: $blue;
      position: absolute;
      top: 0;
      left: -100%;
      height: 100%;
      width: 300%;
    }
  }
}

.about_top_pic {
  height: 439px;
  width: 786px;
  margin-left: 130px;
}

.about_text {
  line-height: 165%;
  color: #2A2A2A;
  font-size: 14px;
  font-family: 'SpaceGrotesk-Regular';
}

.about_video {
  position: relative;
}

.video_on {
  margin-top: 30px;
  font-family: 'SpaceGrotesk-Regular';
  color: $white;
  padding: 3px 0;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $white;
  cursor: pointer;
  margin-bottom: 15px;
  font-size: 12px;
  transition: .3s;
  &:hover {
    color: $blueDark;
    border-bottom: 1px solid $blueDark;
  }
}

.about_video_container {
  width: 462px;
  height: 292px;
}

.about_container_text {
  width: 482px;
  padding-top: 20px;
  margin-top: 90px;
  margin-left: 190px;
  position: relative;
  &:before {
    content: '';
    width: 100px;
    height: 1px;
    background-color: $white;
    position: absolute;
    left: 0;
    top: 0;
  }
}

.about_bottom_text {
  color: $white;
}

@media #{$mediaExtraSmall}{
  .about .section_title {
    margin-left: 0;
  }
  .about_row {
    margin: 0;
    flex-direction: column;
  }
  .about_text {
    margin-left: 75px;
    margin-top: 45px;
  }
  .section_title::after {
    width: 45px;
  }
  .about_top_pic {
    width: 100%;
    height: auto;
    margin: 0;
  }
  .about .container::after {
    display: none;
  }
  .about .container::before {
    display: none;
  }
  .about_row:nth-of-type(2) {
    flex-direction: column-reverse;
    .about_text {

      margin-left: 0;
      margin-top: 45px;

    }
  }
  .about_container_text {
    width: 100%;
    margin-left: 0;
    margin-top: 0px;
  }
  .about {
    background-image: linear-gradient(to bottom, #fff 28%, #3476AA 28%);
  }
  .about_container_text::before {
    display: none;
  }
  .about_video_container {
    width: 100%;
    height: auto;
    img {
      width: 100%;
    }
  }
  .video_on {
    width: 100%;
    text-align: right;
  }
}


