.about
    .container
         h2.section_title.blue.wow.fadeInLeft(data-wow-delay="1.0s") About us
         .about_row
             p.about_text.wow.fadeInLeft(data-wow-delay="1.0s") Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
             img.about_top_pic.wow.fadeInRight(data-wow-delay="1.0s")(src="./img/image computer.jpg")
         .about_row.about_row--blue
             .about_video.wow.fadeInLeft(data-wow-delay="1.0s")
                button.video_on watch the video
                .about_video_container
                    img(src="./img/video.jpg")
             .about_container_text.wow.fadeInRight(data-wow-delay="1.0s")
                p.about_text.about_bottom_text
                    | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                    | the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                    | of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                    | but also the leap into electronic typesetting.
                    | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                    | the industry's standard dummy text ever since the 1500s.

             .about_scroll
                span.about_scroll_text scroll
                span.about_scroll_line
