.container.section_feedback_title
    span.bgc_text our partners
    h2.section_title.blue Our partners and <br> clients
.feedback
    .container
        .feedback_content
            h3.feedback_title feedback
            p.feedback_text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.
            p.feedback_text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.

        .feedback_slider
            .feedback_item
                i.icon-right-quote
                h4.feedback_item_title Thank you!
                p.feedback_item_text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.
                .feedback_item_person
                    img.feedback_item_pic(src='../img/commit.jpg')
                    .feedback_item_person_info
                        span.feedback_item_name Thomas Frait
                        span.feedback_item_company  Google Company
            .feedback_item
                i.icon-right-quote
                h4.feedback_item_title Great results
                p.feedback_item_text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.
                .feedback_item_person
                    img.feedback_item_pic(src='../img/commit.jpg')
                    .feedback_item_person_info
                        span.feedback_item_name Thomas Frait
                        span.feedback_item_company  Google Company
            .feedback_item
                i.icon-right-quote
                h4.feedback_item_title Great results
                p.feedback_item_text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.
                .feedback_item_person
                    img.feedback_item_pic(src='../img/commit.jpg')
                    .feedback_item_person_info
                        span.feedback_item_name Thomas Frait
                        span.feedback_item_company  Google Company

