.feedback{
  margin-top: 60px;
  background-color: $blue;
  .container{
    padding: 60px;
    display: flex;
    justify-content: space-between;
  }

  .slick-slide{
    margin: 0 20px;
  }
}

.section_feedback_title{
  .bgc_text{
    right: -23%;
  }
}

.feedback_title{
  color: $white;
  font-size: 32px;
  text-transform: capitalize;
  font-family: 'GTWalsheimPro-Medium';
  margin: 0 0 25px;
}

.feedback_text{
  font-size: 14px;
  line-height: 165%;
  width: 353px;
  color: $white;
  font-family: 'SpaceGrotesk-Regular';
}

.feedback_item{
  width: 330px;
  height: 288px;
  background-color: $white;
  position: relative;
  padding: 35px 30px 45px 29px;
}

.icon-right-quote:before {
  content: "\e904";
  color: $blue;
  font-size: 41px;
}

.icon-right-quote{
  position: absolute;
  top: 10px;
  right: 10px;
}

.feedback_item_title{
  margin-top: 0;
  margin-bottom: 25px;
  color: $blueDark;
  font-family: 'GTWalsheimPro-Medium';
  font-size: 22px;
}

.feedback_item_text{
  color: #2A2A2A;
  font-family: 'SpaceGrotesk-Medium';
  font-size: 14px;
  line-height: 165%;
  margin: 0 0 23px;
}

.feedback_slider{
  width: 720px;
}
.slick-slide{
  display: inline-block;
}
.feedback_item_person{
  display: flex;
}
.feedback_item_person_info{
  margin-left: 15px;
  vertical-align: bottom;
}

.feedback_item_name{
  color: $blueDark;
  font-size: 12px;
  font-family: 'SpaceGrotesk-Medium';
}
.feedback_item_company{
  color: #5D5D5D;
  font-size: 12px;
  font-family: 'SpaceGrotesk-Regular';
  display: block;
  margin-top: 10px;
}

.feedback_item:nth-of-type(1){
  margin-right: 60px;
}

@media #{$mediaExtraSmall}{
  .feedback_title {
    display: none;
  }
  .feedback_item{
    width: 330px!important;
  }
  .feedback .container{
    display: flex;
    padding: 0 20px;
    flex-direction: column;
  }
  .feedback_text{
    width: 100%;
    margin-left: 60px;
    color: #2A2A2A;
  }
  .feedback_text:nth-of-type(1){
    margin-top: -70px;
  }
  .feedback_item{
    margin: 0!important;
    padding: 0 40px 30px 0;
    height: auto;
    width: 100%;
    background-color: transparent;
  }
  .feedback_item_title, .feedback_item_text, .feedback_item_name, .feedback_item_company{
    color: white;
  }
  .feedback_item_title{
    font-size: 15px;
  }
  .feedback_item_text{
    font-size: 12px;
  }
  .feedback_item_name, .feedback_item_company{
    font-size: 10px;
  }
  .feedback_item_company{
    opacity: 0.5;
  }
  .feedback{
    background-image: linear-gradient(white 25%, #3476AA 25%);
  }
  .feedback_text{
    margin-left: 90px;
    font-size: 12px;
    max-width: 300px;
  }
  .feedback_slider{
    margin-top: 30px;
  }
}