
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevrons-right:before {
  content: "\e907";
}
.icon-left-quote:before {
  content: "\e905";
}
.icon-right-quote:before {
  content: "\e904";
}
.icon-clock:before {
  content: "\e94e";
}
.icon-eye:before {
  content: "\e9ce";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-linkedin:before {
  content: "\eac9";
}
.icon-pinterest2:before {
  content: "\ead2";
}
.icon-chevrons-left:before {
  content: "\e900";
}
.icon-search:before {
  content: "\e906";
}
.icon-cheveron-left:before {
  content: "\e902";
}
.icon-cheveron-left:before {
  content: "\e902";
}
.icon-cheveron-right:before {
  content: "\e903";
}
