footer{
  background-color: $blue;
  color: $white;
  .container{
    display: flex;
    padding: 30px 40px 40px 60px;
  }
}
.footer_logo{
  font-size: 37px;
  margin-bottom: 17px;
  display: block;
}
.footer_info{
  font-family: "SpaceGrotesk-Regular";
  font-size: 12px;
  line-height: 160%;
  color: #E3E3E3;
  margin: 0;
}

.footer_title{
  margin-top: 11px;
  font-weight: 500;
  font-size: 15px;
  font-family: "SpaceGrotesk-Medium";
  text-transform: uppercase;
  margin-bottom: 35px;
}

.footer_company{
  width: 255px;
}

.footer_adress{
  margin-left: 288px;
}

.footer_contacct{
  margin-left: 155px;
  margin-right: 145px;
}
.footer_follow{
  width: 250px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .footer_title{
    width: 100%;
    margin-bottom: 30px;
  }
  &_lonk{
    text-decoration: none;
    color: $white;
    transition: .3s;
    &:hover{
      color: $blueDark;
    }
  }
}

@media #{$mediaExtraSmall}{
  footer .container{
    padding: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    lign-items: flex-start;
    div{
      width: 40%;
      margin-left: 0;
      margin-right: 0;
    }
  }
  .footer_logo {
    font-size: 14px;
  }
  .footer_info{
    font-size: 8px;
    margin-top: 10px;
  }
  .footer_title{
    margin-bottom: 0px;
    margin-top: 20px;
  }
  .footer_follow .footer_title{
    margin-bottom: 10px;
  }
}