header
    a.logo(href='./index.html') millennium

    .menu
        h3.menu_title menu
        .menu_wrap
            ul.menu_list
                li.menu_item
                    span.menu_number 01
                    a.menu_link(href='./index.html') Home
                    span.menu_icon.icon-cheveron-left
                    ul.menu_submenu
                        li.menu_submenu_li
                            a.menu_submenu_link(href='./index.html') burger menu
                        li.menu_submenu_li
                            a.menu_submenu_link(href='./404.html') page 404
                        li.menu_submenu_li
                            a.menu_submenu_link(href='./index.html') dark version
                li.menu_item
                    span.menu_number 02
                    a.menu_link(href='./aboutUs.html') about us
                li.menu_item
                    span.menu_number 03
                    a.menu_link(href='./index.html') Portfolio
                    span.menu_icon.icon-cheveron-left
                    ul.menu_submenu
                        li.menu_submenu_li
                            a.menu_submenu_link(href='./index.html') burger menu
                        li.menu_submenu_li
                            a.menu_submenu_link(href='./404.html') page 404
                        li.menu_submenu_li
                            a.menu_submenu_link(href='./index.html') dark version
                li.menu_item
                    span.menu_number 04
                    a.menu_link(href='./blog.html') Blog
                li.menu_item
                    span.menu_number 05
                    a.menu_link Contacts

    a.humburger
        span
        span
        span
        //.language
        //    a.language_item EN
        //    a.language_item FR