/* Global CSS */
@import "mixins";
@import "vars";

*{
  box-sizing: border-box;
}

body{
  margin: 0;
  position: relative;
  padding: 0;
  overflow-x: hidden;
}
.icon-clock:before {
  content: "\e94e";
}
.icon-eye:before {
  content: "\e9ce";
}
.container{
  width: 100%;
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
}

.bgc_text{
  position: absolute;
  font-size: 80px;
  font-family: 'GTWalsheimPro-Regular';
  color: #F3F4F9;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.section_title{
  font-family: 'GTWalsheimPro-Medium';
  font-size: 60px;
  margin-top: 50px;
  font-weight: 500;
  margin-left: 60px;
  margin-bottom: 0;
  padding-bottom: 17px;
  position: relative;
  &.blue{
    color: $blueDark;
    &:after{
      background-color: $blueDark;
    }
  }
  &.white{
    color: $white;
    &:after{
      background-color: $white;
    }
  }
  &:after{
    content: '';
    display: block;
    width: 100px;
    position: absolute;
    height: 1px;
    bottom: 0;
    left: 0;
  }
}

.quotes{
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  position: relative;
}
.icon-left-quote{
  position: absolute;
  top: 3px;
  left: 0;
  color: $blueDark;
  font-size: 22px;
}
.quotes_text{
  margin-top: 0;
  font-family: "SpaceGrotesk-Medium";
  font-size: 22px;
  line-height: 165%;
}
.quotes_name{
  color: $blueDark;
  font-family: "SpaceGrotesk-Regular";
  font-size: 14px;
  margin-bottom: 5px;
}

.quotes_job{
  color: #5D5D5D;
  font-family: "SpaceGrotesk-Regular";
  font-size: 14px;
}
.aside{
  width: 330px;
  margin-left: 132px;
}
@media #{$mediaExtraSmall}{
  .container{
    width: 100%;
    padding: 0 20px;
  }
  .section_title{
    font-size: 40px;
    margin-left: 0;
    br{
      display: none;
    }
  }
  .bgc_text{
    display: none;
  }
}
