// Main Colors
$white: #fff;
$blue: #3476AA;
$blueDark: #052983;



//Media
$mediaExtraSmall: (max-width: 575px);
$mediaSmall: (min-width: 576px) and (max-width: 768px);
$mediaMedium: (min-width: 769px) and (max-width: 992px);
$mediaLarge: (min-width: 993px) and (max-width: 1200px);
$mediaExtraLarge: (min-width: 1201px);
$media_1500: (max-width: 1500px);