.error{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(to right, $blue 50%, $white 50%);
}
.error_container{
  max-width: 543px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  align-items: flex-end;
}
.error_number{
  margin: 0;
  span{
    font-weight: 900;
    font-size: 300px;
    font-family: "SpaceGrotesk-Medium";
    &.zero{
      color: $blueDark;
      z-index: 9;
      position: relative;
      &:before{
        content: '0';
        color: black;
        position: absolute;
        left: 0;
        z-index: -1;
        top: 5px;
      }
    }
  }
}

.error_content{
  font-size: 22px;
  margin-top: 0;
  font-family: "SpaceGrotesk-Medium";
  font-weight: 700;
  text-align: center;
}

.link_back{
  margin-top: 100px;
  color: #2A2A2A;
  font-size: 22px;
  line-height: 165%;
  font-family: "SpaceGrotesk-Medium";
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  i{
    margin-left: 10px;
  }
}