.aboutUs_main{
  background-image: linear-gradient($blue, 320px, $white 320px);
  padding-top: 167px;
}

.aboutUs_main_pic{
  margin: 0 auto;
  display: block;
}

.aboutUs_content{
  margin-top: 90px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .section_title{
    font-size: 55px;
    margin-left: 258px;
    font-family: 'GTWalsheimPro-Regular';
    &:after{
      display: none;
    }
  }
}

.aboutUs_content_text{
  margin-left: 105px;
  margin-right: 126px;
  max-width: 600px;
  transform: translateY(77px);
  p{
    font-size: 14px;
    font-family: "SpaceGrotesk-Regular";
    line-height: 165%;
    color: #2A2A2A;
    span{
      font-family: "SpaceGrotesk-Medium";
    }
  }
}

.aboutUs_video_on{
  color: $blueDark;;
  border: none;
  border-bottom: 1px solid $blueDark;;
  padding: 8px 0;
  text-transform: uppercase;
  background-color: transparent;
  font-size: 12px;
  font-family: "SpaceGrotesk-Regular";
  letter-spacing: 0.05em;
  margin-top: 45px;
  margin-left: 60px;
  display: block;
}

.aboutUs_contact_link{
  margin: 174px 130px 0;
  width: 590px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.aboutUs_contact_link_title{
  color: #2A2A2A;
  font-size: 14px;
  font-family: "SpaceGrotesk-Medium";
}

.aboutUs_contact_link_btn{

}

.aboutUs_bottom{
  display: flex;
  margin-top: 56px;
  margin-left: 61px;
  .quotes{
    margin-top: 100px;
  }
}

.aboutUs_bottom_pic{
  margin-left: 107px;
}