.articles{
  .container{
    display: flex;
  }
  .aside{
    margin-top: 90px;
  }
}


.last_article{
  padding-top: 142px;
  .container{
    display: flex;
    justify-content: center;
  }
}
.last_article_pic{
  margin-right: 65px;
  width: 727px;
  img{
    width: 100%;
  }
}
.last_article_content{
  width: 396px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  .article_title{
    font-size: 60px;
    line-height: 62px;
    margin: 20px 0 45px;
    color: $blueDark;
  }
  .article_btn{
    font-size: 14px;
    line-height: 13px;
  }
}

.article_category{
  color: $blueDark;
  font-size: 12px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  font-family: "SpaceGrotesk-Regular";
}
.article_title{
  color: $blueDark;
  margin: 20px 0 45px;
  font-family: "GTWalsheimPro-Regular";
}
.article_text{
  color: #2A2A2A;
  font-size: 14px;
  line-height: 165%;
  font-family: "SpaceGrotesk-Regular";
  margin: 0;
}
.article_info{
  margin-top: 60px;
  display: flex;
  i{
    color: #DADADA;
    margin-right: 10px;
    font-family: "icomoon";
  }
  span{
    font-family: "SpaceGrotesk-Regular";
    font-size: 10px;
    color: #DADADA;
  }
  div{
    display: flex;
    align-items: center;
    margin-right: 25px;
  }
}

.article_btn{
  background-color: transparent;
  border: none;
  margin: auto 0 auto auto;
  display: flex;
  align-items: center;
  color: $blueDark;
  text-transform: uppercase;
  font-family: "SpaceGrotesk-Regular";
  letter-spacing: 0.05em;
  i{
    margin-left: 10px;
    color: $blueDark;
  }
}

.articles{
  margin-top: 100px;
}

.articles_content{
  margin-left: 128px;
  width: 727px;
}

.artiles_category{
  border-bottom: 1px solid #5D5D5D;
  padding-bottom: 8px;
}

.artiles_category_item{
  color: #5D5D5D;
  font-size: 12px;
  padding: 8px 0;
  letter-spacing: 0.05em;
  font-family: "SpaceGrotesk-Regular";
  text-transform: uppercase;
  margin-right: 40px;
  cursor: pointer;
  &.active{
    color: $blueDark;
  }
}

.articles_list{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.articles_list_item{
  display: flex;
  flex-direction: column;
  margin-top: 35px;
  &.small{
    width: 330px;
  }
  &.big{
    width: 100%;
  }
  .article_category{
    color: #9FA3A7;
  }
  img{
    width: 100%;
    margin-top: 15px;
  }
  .article_content{
    padding: 30px 25px 25px;

  }
  .article_title{
    margin: 0 0 20px;
    font-size: 22px;
  }
  .article_btn{
    font-size: 10px;
  }
  .article_info {
    margin-top: 40px;
    div {
      margin-right: 15px;
    }
  }
  .article_btn{
    padding: 0;
    i{
      margin-left: 5px;
      margin-right: 0;
    }
  }
}

.articles_pagination{
  margin-top: 70px;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.articles_pagination_prev, .articles_pagination_next{
  color: $blueDark;
  font-size: 18px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.articles_pagination_number{
  span{
    margin: 0 15px;
    font-family: "GTWalsheimPro-Regular";
    color: $blueDark;
    padding: 0 5px;
    cursor: pointer;
  }
}