.portfolio_container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.portfolio_page{
  height: 100vh;
  width: 100%;
  padding: 180px 60px 45px 60px;
}
.slider_nav_item{
  padding: 18px;
  &.active{
    border: 1px solid $blueDark;
  }
}
.slider_nav_pic{
  width: 100%;
}

.slider_nav{
  height: calc(100vh - 160px - 140px);
  display: flex;
  width: 168px;
  flex-direction: column;
  justify-content: space-between;
}
.slider_list{
  margin-left: 145px;
  height: 100%;
  width: 1050px;
}
.slider_item{
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
}
.slider_item_right{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  img{
    height: 527px;
  }
}
.slider_item_info{
  display: flex;
  width: 378px;
  margin-right: 138px;
  flex-direction: column;
}

.slider_category.article_category{
  color: #5D5D5D;
  font-size: 12px;
}

.slider_title.article_title{
  font-size: 50px;
  line-height: 120%;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: $blueDark;
}

.slider_item_link{
  padding-bottom: 8px;
  font-family: "SpaceGrotesk-Regular";
  font-size: 14px;
  line-height: 13px;
  margin-top: 36px;
  text-align: right;
  border-bottom: 1px solid $blueDark;
  text-decoration: none;
}
.slider_item_list{
  position: absolute;
  width: 726px;
  background-color: $blue;
  color: $white;
  height: 103px;
  left: -85px;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.slider_item_list_title{
  margin-bottom: 17px;
  font-family: "SpaceGrotesk-Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 13px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.slider_item_list_text{
  font-family: "SpaceGrotesk-Regular";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 160%;
  color: #FFFFFF;
}