.single{
  padding-top: 139px;
  .container{
    display: flex;
  }
  .aside{
    margin-top: 128px;
  }
}

.single_block{
  margin-left: 126px;
  display: flex;
  width: 727px;
  justify-content: center;
  flex-direction: column;
  .quotes{
    margin: 35px 67px 25px;
    .quotes_job{
      font-size: 10px;
    }
    .quotes_text{
      width: 400px;
      font-size: 16px;
    }
  }
}

.single_title{
  color: $blueDark;
  font-family: "GTWalsheimPro-Medium";
  font-size: 48px;
  margin-top: 20px;
  margin-bottom: 45px;
  line-height: 50px;
}

.single_pic{
  display: flex;
  flex-direction: column;
  img{
    width: 100%;
    margin-bottom: 20px;
  }
}

.single_pic_title{
  color: #9FA3A7;
  font-size: 10px;
  font-family: "SpaceGrotesk-Regular";
}

.single_text{
  color: #2A2A2A;
  font-family: "SpaceGrotesk-Regular";
  font-size: 16px;
  line-height: 165%;
  margin: 25px 67px;
  width: 593px;
}

.single_pretitle{
  color: $blueDark;
  font-family: "GTWalsheimPro-Medium";
  font-size: 24px;
  margin: 35px 67px 10px;
}

.article_info.single{
  margin: 0 67px;
  padding-top: 35px;
  .author_name{
    margin: auto 0 auto auto;
    font-size: 16px;
    line-height: 160%;
    font-family: "SpaceGrotesk-Regular";
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #9FA3A7;
  }
}

.single_bottom{
  margin-top: 119px;
  .container{
    padding: 0 126px 0px 124px;
  }
}

.single_bottom_title{
  margin-top: 0;
  margin-bottom: 60px;
  color: $blueDark;
  font-family: "GTWalsheimPro-Medium";
  font-size: 48px;
}

.topic_list{
  display: flex;
  justify-content: space-between;
}

.topic_item{
  display: flex;
  width: 190px;
  flex-direction: column;
}
.topic_item_pic{
  width: 100%;
  margin-bottom: 20px;
}
.topic_item_link{
  font-family: "GTWalsheimPro-Medium";
  font-size: 15px;
  line-height: 165%;
  color: $blueDark;
}