footer
    .container
        .footer_company
            a.footer_logo.logo millennium
            p.footer_info Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum quo praesentium ullam consectetur enim.
        .footer_adress
            h4.footer_title address
            p.footer_info 10 Hawley Benert <br>NW1 8NP, London
        .footer_contacct
            h4.footer_title contacts
            p.footer_info +44(0) 00 000 000 00 <br>london@example.com
        .footer_follow
            h4.footer_title follow us
            a.footer_follow_lonk(href='#')
                i.icon-facebook
            a.footer_follow_lonk(href='#')
                i.icon-twitter
            a.footer_follow_lonk(href='#')
                i.icon-linkedin
            a.footer_follow_lonk(href='#')
                i.icon-pinterest2
